* {
    line-height: 1.3;
}

body {
    background-color: darkgray !important;
}

chess-board {
    display: block;
    width: 75vmin;
    height: 75vmin;
    position: relative;
}

@media screen and (max-height:550px) {
    chess-board {
        width: 75vh !important;
        height: 75vh !important;
    }
}

@media screen and (max-width:550px) {
    chess-board {
        width: 98vmin;
        height: 98vmin;
    }
}

@media screen and (max-width:700px) {
    .font-size-vw {
        font-size: 13px !important;
    }
    .custom-btn {
        font-size: 15px !important;
    }
    .all-contents {
        display: block !important;
    }
    #function-col {
        width: 100% !important;
        height: 80vh !important;
    }
    #main-col {
        width: 100% !important;
    }
}

chess-piece {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 12.5%;
    height: 12.5%;
    position: absolute;
    z-index: 4;
    opacity: 1;
}

chess-block {
    display: block;
    width: 12.5%;
    height: 12.5%;
    position: absolute;
    z-index: 2;
    border-radius: 12%;
    border: 1px solid darkblue;
    opacity: .7;
    color: lightyellow;
}

input {
    border-radius: 1em;
    outline: none;
    padding-left: 9px;
    width: 85%;
    transition: width .5s;
}

input:focus {
    width: 100%;
}

.king-w {
    background-image: url("../Image/king-w.png");
}

.queen-w {
    background-image: url("../Image/queen-w.png");
}

.bishop-w {
    background-image: url("../Image/bishop-w.png");
}

.knight-w {
    background-image: url("../Image/knight-w.png");
}

.rook-w {
    background-image: url("../Image/rook-w.png");
}

.pawn-w {
    background-image: url("../Image/pawn-w.png");
}

.king-b {
    background-image: url("../Image/king-b.png");
}

.queen-b {
    background-image: url("../Image/queen-b.png");
}

.bishop-b {
    background-image: url("../Image/bishop-b.png");
}

.knight-b {
    background-image: url("../Image/knight-b.png");
}

.rook-b {
    background-image: url("../Image/rook-b.png");
}

.pawn-b {
    background-image: url("../Image/pawn-b.png");
}

.red {
    color: red;
}

.all-contents {
    display: flex;
}

.pos-relative {
    position: relative;
}

.space-vertical {
    height: 3%;
    width: 100%;
}

.space-vertical-big {
    height: 4%;
    width: 100%;
}

.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.no-margin {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.avatar-sm {
    display: block;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .3rem 1rem !important;
}

.font-size-vw-sm {
    font-size: 1.3vw;
}

.font-size-vw-big {
    font-size: 1.5vw;
}

.font-size-vh-ssm {
    font-size: 1.9vh;
}

.font-size-vh-sm {
    font-size: 2.3vh;
}

.font-size-vh-big {
    font-size: 2.5vh;
}

.font-size-vh-ssbig {
    font-size: 4.1vh;
}

.card-body-flex-txt {
    display: flex;
}

.no-margin-vertical {
    margin-top: 0px;
    margin-bottom: 0px;
}

.custom-btn-sm {
    width: 100%;
    height: 7vh;
    background-color: blanchedalmond;
    border-radius: 1.1em;
    outline: none !important;
}

.custom-btn {
    width: 100%;
    background-color: lightgray;
    border-radius: 1.1em;
    outline: none !important;
}

.custom-btn-sm:hover, .custom-btn:hover {
    background-color: lawngreen;
}

.overflow-hidden {
    overflow: hidden !important;
}

.box-header {
    text-align: center;
    background-color: lightcyan;
}

.box-body {
    display: block;
    background-color: lightcyan;
}

.align-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.align-end {
    position: absolute;
    top: 0px;
    right: 0px;
}

.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color: rgba(0, 0, 0, .5);
}

.custom-modal-content {
    width: 0%;
    height: fit-content;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.1em;
    border: 3px solid black;
    padding: 9px 13px;
}

.custom-modal-header {
    display: flex;
    justify-content: center;
}

.custom-modal-header h4 {
    display: inline;
    text-align: center;
    line-height: 110%;
    font-size: 1.6em;
}

.custom-modal-body {
    display: flex;
    justify-content: center;
}

.custom-modal-footer {
    display: flex;
    justify-content: center;
}

.horizontal-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.display-flex {
    display: flex;
}

#user-block .chatbox {
    top: -40%;
    left: 3%;
}

#enemy-block .chatbox {
    top: 90%;
    left: 3%;
}

.chatbox {
    visibility: visible;
    opacity: 0;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    background-color: white;
    color: darkslategray;
    text-align: center;
    padding: 3px 5px;
    border-radius: .5em;
    position: absolute;
    z-index: 5;
    font-size: 24px;
}

#function-col .box {
    color: black;
}

#function-col .box .box-footer {
    display: flex;
}

#function-col .box input {
    color: red;
}

#function-col .box button {
    color: black;
}

#func-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sign-col .btn-group-vertical {
    display: block;
    background-color: lightcyan;
}

#utility-group {
    display: block;
}

#avatar-big {
    display: block;
}

#sign-col .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px 7px !important;
}

#ready-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    height: 10%;
    width: 30%;
    transform: translate(-50%, -50%);
}

#sign-col .card {
    display: block;
    background-color: lightseagreen;
}

#sign-col h3 {
    line-height: 23px;
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-style: italic;
    color: white;
}

#sign-col h4 {
    color: teal;
}

#tables {
    display: flex;
}

#waiting-tables {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

#board-package {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign-col-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: lightgrey;
}

#sign-col {
    width: 18%;
}

#main-col {
    width: 62%;
    background-color: lightblue;
}

#function-col {
    width: 20%;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightgrey;
}

#table-txt {
    display: block;
}

#sign-col-btn {
    display: none;
    height: fit-content;
}

#back-to-lobby-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
}

@media screen and (max-width: 950px) {
    #sign-col-content {
        width: 0%;
    }
    #main-col {
        width: 65%;
    }
    #function-col {
        width: 35%;
    }
    #sign-col-btn {
        display: block;
    }
}