body {
    background-color: darkgray !important;
}

chess-board {
    display: block;
    width: 40vw;
    height: 40vw;
    position: relative;
}

@media screen and (max-width:576px) {
    chess-board {
        width: 64vh;
        height: 64vh;
    }
}

@media screen and (max-height:700px) {
    chess-board {
        width: 64vh;
        height: 64vh;
    }
}

.board-package {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

chess-piece {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 12.5%;
    height: 12.5%;
    position: absolute;
    z-index: 4;
    opacity: 1;
}

chess-block {
    display: block;
    width: 12.5%;
    height: 12.5%;
    position: absolute;
    z-index: 2;
    border-radius: 9px;
    border: 1px solid darkblue;
    opacity: .7;
    color: lightyellow;
}

.king-w {
    background-image: url("../Image/king-w.png");
}

.queen-w {
    background-image: url("../Image/queen-w.png");
}

.bishop-w {
    background-image: url("../Image/bishop-w.png");
}

.knight-w {
    background-image: url("../Image/knight-w.png");
}

.rook-w {
    background-image: url("../Image/rook-w.png");
}

.pawn-w {
    background-image: url("../Image/pawn-w.png");
}

.king-b {
    background-image: url("../Image/king-b.png");
}

.queen-b {
    background-image: url("../Image/queen-b.png");
}

.bishop-b {
    background-image: url("../Image/bishop-b.png");
}

.knight-b {
    background-image: url("../Image/knight-b.png");
}

.rook-b {
    background-image: url("../Image/rook-b.png");
}

.pawn-b {
    background-image: url("../Image/pawn-b.png");
}

.pos-relative {
    position: relative;
}

.height-100vh {
    height: 100vh;
}

.space-vertical {
    height: 3%;
    width: 100%;
}

.space-vertical-big {
    height: 7%;
    width: 100%;
}

.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.no-margin {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.logo {
    width: 60px;
    height: 60px;
}

.avatar-sm {
    width: 8vh;
    height: 8vh;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.avatar-big {
    width: 12vh;
    height: 12vh;
}

.info-card {
    height: 37%;
}

.info-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7px 7px !important;
}

.info-card-body-flex-txt {
    display: flex;
    width: 100%;
}

.width-50 {
    width: 50%;
}

.txt-logo {
    line-height: 21px;
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-style: italic;
}

.no-margin-vertical {
    margin-top: 0px;
    margin-bottom: 0px;
}

.func-card {
    height: 60%;
}

.func-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sign-group {
    height: 15%;
    width: 100%;
}

.utility-group {
    height: 20%;
    width: 100%;
}

.custom-btn {
    width: 100%;
    background-color: gainsboro;
    margin-bottom: 3px;
    border-radius: 12px;
    outline: none;
}

.overflow-hidden {
    overflow: hidden;
}