* {
    line-height: 1.3;
}

body {
    background-color: darkgray !important;
}

chess-board {
    display: block;
    width: 75vh;
    height: 75vh;
    position: relative;
}

@media screen and (max-width:576px) {
    chess-board {
        width: 98vw !important;
        height: 98vw !important;
    }
    .font-size-vw {
        font-size: 13px !important;
    }
    .custom-btn {
        font-size: 15px !important;
    }
    .all-contents {
        display: block !important;
    }
    #function-col {
        width: 100% !important;
        height: 80vh !important;
    }
    #main-col {
        width: 100% !important;
    }
}

chess-piece {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 12.5%;
    height: 12.5%;
    position: absolute;
    z-index: 4;
    opacity: 1;
}

chess-block {
    display: block;
    width: 12.5%;
    height: 12.5%;
    position: absolute;
    z-index: 2;
    border-radius: 12%;
    border: 1px solid darkblue;
    opacity: .7;
    color: lightyellow;
}

.king-w {
    background-image: url("../Image/king-w.png");
}

.queen-w {
    background-image: url("../Image/queen-w.png");
}

.bishop-w {
    background-image: url("../Image/bishop-w.png");
}

.knight-w {
    background-image: url("../Image/knight-w.png");
}

.rook-w {
    background-image: url("../Image/rook-w.png");
}

.pawn-w {
    background-image: url("../Image/pawn-w.png");
}

.king-b {
    background-image: url("../Image/king-b.png");
}

.queen-b {
    background-image: url("../Image/queen-b.png");
}

.bishop-b {
    background-image: url("../Image/bishop-b.png");
}

.knight-b {
    background-image: url("../Image/knight-b.png");
}

.rook-b {
    background-image: url("../Image/rook-b.png");
}

.pawn-b {
    background-image: url("../Image/pawn-b.png");
}

.all-contents {
    display: flex;
}

.pos-relative {
    position: relative;
}

.space-vertical {
    height: 3%;
    width: 100%;
}

.space-vertical-big {
    height: 7%;
    width: 100%;
}

.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.no-margin {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.avatar-sm {
    display: block;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .3rem 1rem !important;
}

.font-size-vw-sm {
    font-size: 1.3vw;
}

.font-size-vw-big {
    font-size: 1.5vw;
}

.font-size-vh-ssm {
    font-size: 1.9vh;
}

.font-size-vh-sm {
    font-size: 2.3vh;
}

.font-size-vh-big {
    font-size: 2.5vh;
}

.card-body-flex-txt {
    display: flex;
}

.no-margin-vertical {
    margin-top: 0px;
    margin-bottom: 0px;
}

.custom-btn-sm {
    width: 115px;
    height: 3.7vh;
    background-color: blanchedalmond;
    border-radius: 12px;
    outline: none !important;
}

.custom-btn {
    width: 100%;
    background-color: lightgray;
    margin-bottom: 3px;
    border-radius: 12px;
    outline: none !important;
}

.custom-btn:hover {
    background-color: linen;
}

.overflow-hidden {
    overflow: hidden !important;
}

.box-header {
    text-align: center;
    background-color: lightcyan;
}

.box-body {
    display: block;
    background-color: lightcyan;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat-box-footer {
    display: flex;
}

#chat-box-input {
    color: red;
}

#chat-box-send-btn {
    color: black;
}

#func-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sign-group-btn {
    display: block;
}

#utility-group {
    display: block;
}

#chat-box {
    color: black;
}

#avatar-big {
    display: block;
}

#info-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px 7px !important;
}

#info-card {
    display: block;
}

#logo {
    display: block;
}

#txt-logo {
    line-height: 23px;
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-style: italic;
    color: white;
}

#txt-welcome {
    color: black;
}

#tables {
    display: flex;
}

#waiting-tables {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

#board-package {
    display: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign-col-content {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: lightgrey;
}

#sign-col {
    width: 18%;
}

#main-col {
    width: 62%;
    background-color: lightblue;
}

#function-col {
    width: 20%;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightgrey;
}

#table-txt {
    display: block;
}

#sign-col-btn {
    display: none;
    height: 100%;
}

#back-to-lobby-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
}

@media screen and (max-width: 950px) {
    #sign-col-content {
        width: 0%;
    }
    #main-col {
        width: 65%;
    }
    #function-col {
        width: 35%;
    }
    #sign-col-btn {
        display: block;
        float: left;
    }
}